# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE & project settings
.vscode/
.idea/
*.code-workspace

# Data files
*.csv
*.xlsx
*.xls
*.db

# Logs & temp
*.log
*.tmp
*.bak

# Streamlit
.streamlit/
